Dema20190415/WCFClient/Connected Services/PhotoService/Photos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Photos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52820/Photos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52820/Photos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52820/Photos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhotos_GetPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhoto" />
  </wsdl:message>
  <wsdl:message name="IPhotos_GetPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IPhotos_SetPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPhoto" />
  </wsdl:message>
  <wsdl:message name="IPhotos_SetPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IPhotos_PhotoList_InputMessage">
    <wsdl:part name="parameters" element="tns:PhotoList" />
  </wsdl:message>
  <wsdl:message name="IPhotos_PhotoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:PhotoListResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhotos">
    <wsdl:operation name="GetPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotos/GetPhoto" message="tns:IPhotos_GetPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotos/GetPhotoResponse" message="tns:IPhotos_GetPhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotos/SetPhoto" message="tns:IPhotos_SetPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotos/SetPhotoResponse" message="tns:IPhotos_SetPhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PhotoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotos/PhotoList" message="tns:IPhotos_PhotoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotos/PhotoListResponse" message="tns:IPhotos_PhotoList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhotos" type="tns:IPhotos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhoto">
      <soap:operation soapAction="http://tempuri.org/IPhotos/GetPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPhoto">
      <soap:operation soapAction="http://tempuri.org/IPhotos/SetPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhotoList">
      <soap:operation soapAction="http://tempuri.org/IPhotos/PhotoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Photos">
    <wsdl:port name="BasicHttpBinding_IPhotos" binding="tns:BasicHttpBinding_IPhotos">
      <soap:address location="http://localhost:52820/Photos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>