Dema20190415/WCFClient/Connected Services/PhotoService/Photos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52820/Photos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoDB" />
  <xs:element name="GetPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="photoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoDB" minOccurs="0" name="GetPhotoResult" nillable="true" type="q1:Photo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoDB" minOccurs="0" name="photo" nillable="true" type="q2:Photo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPhotoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhotoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhotoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DemoDB" minOccurs="0" name="PhotoListResult" nillable="true" type="q3:ArrayOfPhoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>