Dema20190415/WCFClient/Connected Services/PhotoService/Photos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Photo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTaken" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PhotoID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Photo" nillable="true" type="tns:Photo" />
  <xs:complexType name="ArrayOfPhoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Photo" nillable="true" type="tns:Photo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoto" nillable="true" type="tns:ArrayOfPhoto" />
</xs:schema>